<%= form_with(model: real_estate) do |form| %>
  <% if real_estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(real_estate.errors.count, "error") %> prohibited this real_estate from being saved:</h2>

      <ul>
        <% real_estate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :external_number %>
    <%= form.text_field :external_number %>
  </div>

  <div class="field">
    <%= form.label :internal_number %>
    <%= form.text_field :internal_number %>
  </div>

  <div class="field">
    <%= form.label :neighborhood %>
    <%= form.text_field :neighborhood %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :rooms %>
    <%= form.number_field :rooms %>
  </div>

  <div class="field">
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
